<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>

<body>
   <header>
        <h1>お買い物メモ</h1>
   </header>
   <div class="contents" id="app">
     <form>
         <div class="headWrapper">
            <input type="text" v-model="inputItem" class="inputtext">
            <button v-on:click.prevent="addItem()" class="button">追加</button>
         </div>
         <div class="list">
            <ul>
                <li v-for="item in items" @click="removeItem">
                    {{ item }}
                </li>
            </ul>
        </div>
     </form>
   </div>
</body>
<script src="main.js"></script>
</html>
